<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>RIPTIDE CLIENT ACCESS</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form (ngSubmit)="doLogin(user)">
  <ion-list [formGroup]="user">

    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>

    <ion-item padding no-lines>
      <button ion-button block>Login</button>
    </ion-item>

    <ion-item no-lines>
      <a href="#" (click)="forgotPassword()">Forgot password?</a>
    </ion-item>

  </ion-list>
  </form>


</ion-content>
