<!--
  Generated template for the ScreenDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Manage {{screenName}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card  *ngFor="let item of screenData">

    <ion-card-content>
      <ion-list>
        <ion-item>
          <img [src]="item['imageUrl']" alt="{{screenName}}">
        </ion-item>

        <ion-item>
          Date Started: {{item['dateStarted']}}
        </ion-item>

        <ion-item>
          Date Removed: {{item['dateRemoved']}}
        </ion-item>


        <ion-item>
          <ion-label>Deleted</ion-label>
          <ion-checkbox checked="{{item['deleted']=='NO'?'false':'true'}}" disabled="true"></ion-checkbox>
        </ion-item>


        <ion-item>
          Time To Display: {{item['timeToDisplay']}}
        </ion-item>
      </ion-list>
      <!--<button ion-button outline item-end icon-start>
        <ion-icon name="cog"></ion-icon>
        Manage
      </button>-->
    </ion-card-content>
  </ion-card>
</ion-content>
