
<ion-header>

  <ion-navbar>
    <ion-title>Add Venue</ion-title>
      <ion-buttons end>
          <button ion-button icon-only (click)="closeModal()">
              <ion-icon item-right name="ios-close-outline"></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list>

        <ion-item>
            <ion-label floating>Name</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>

        <!--<ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password"></ion-input>
        </ion-item>-->

        <ion-item padding no-lines>
            <button ion-button block>Add Venue</button>
        </ion-item>

    </ion-list>


</ion-content>
