<!--
  Generated template for the VenuePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Venue Name</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
content like a list..
</ion-content>
