<ion-header>
  <ion-navbar>
    <ion-title>
      RIPTIDE VENUE SELECTION
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  PLEASE SELECT A VENUE FROM THE FOLLOWING DROP DOWN

  <ion-list>
    <ion-item>
      <ion-label>Venue Name</ion-label>
      <ion-select (ionChange)="selectedVenue()">
        <ion-option *ngFor="let venue of venues" value="">{{venue}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-fab right bottom (tap)="addNewVenue()">
    <button ion-fab color="light"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
