<!--
  Generated template for the VenueDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Venue Screens </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card  *ngFor="let item of ScreenData">

    <ion-card-header>
      {{item['screenName']}}
      <hr>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          Height: {{item['height']}}
        </ion-item>

        <ion-item>
          Rotation: {{item['rotation']}}
        </ion-item>

        <ion-item>
          Width: {{item['width']}}
        </ion-item>
      </ion-list>
      <button ion-button outline item-end icon-start (click)="manageScreen()">
        <ion-icon name="cog"></ion-icon>
        Manage
      </button>
    </ion-card-content>
  </ion-card>

</ion-content>
